Source: atomiadns-powerdnssync
Section: non-free/perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.6), perl-modules
Maintainer: Jimmy Bergman <jimmy@pingdom.com>
Standards-Version: 3.6.1

Package: atomiadns-powerdnssync
Architecture: all
Depends: perl-modules, perl-base, libconfig-general-perl, libsoap-lite-perl, libmoose-perl, libnet-dns-zonefile-fast-perl, libnet-dns-perl, libmime-base32-perl, libproc-daemon-perl, libdigest-sha-perl
Recommends: libshell-perl
Description: Atomia DNS PowerDNS Sync application

Package: atomiadns-powerdns-database
Architecture: all
Depends: mysql-server
Description: Standalone database-package for Atomia DNS PowerDNS nameserver agent
