Source: atomiadns-masterserver
Section: non-free/perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.6), perl-modules
Maintainer: Jimmy Bergman <jimmy@pingdom.com>
Standards-Version: 3.6.1

Package: atomiadns-masterserver
Architecture: all
Depends: atomiadns-api (>= 1.0.6), atomiadns-database (>= 1.0.6)
Description: Complete master SOAP server for Atomia DNS

Package: atomiadns-api
Architecture: all
Depends: perl-modules, perl-base, libconfig-general-perl, libdbi-perl, libsoap-lite-perl (>= 0.710.08-2), libdbd-pg-perl (>= 2.11.7-1), libmoose-perl, apache2, libapache2-mod-perl2
Description: SOAP-server for Atomia DNS

Package: atomiadns-database
Architecture: all
Depends: postgresql (>= 8.3)
Description: Standalone database-package for Atomia DNS

Package: atomiadns-client
Architecture: all
Depends: perl-modules, perl-base, libconfig-general-perl, libsoap-lite-perl
Description: Atomia DNS Command line client
