[Unit]
Description=AtomiaDns Bindsync service

[Service]
Type=simple
EnvironmentFile=/etc/atomiadns.conf
ExecStart=/usr/bin/atomiabindsync updated 2>&1 | logger -t atomiabindsync

[Install]
WantedBy=multi-user.target
