#!/usr/bin/make -f
# This debian/rules file is provided as a template for normal perl
# packages. It was created by Marc Brockschmidt <marc@dch-faq.de> for
# the Debian Perl Group (http://pkg-perl.alioth.debian.org/) but may
# be used freely wherever it is useful.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# If set to a true value then MakeMaker's prompt function will
# always return the default without waiting for user input.

PACKAGE=$(shell dh_listpackages)

WEBAPP	=$(CURDIR)/debian/atomiadns-webapp

build: build-stamp
build-stamp:
	dh_testdir
	npm install -d

	touch build-stamp

clean:
	dh_testdir
	dh_testroot

	dh_clean build-stamp install-stamp

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_clean -k

#Run commands before making package

	mkdir -p $(WEBAPP)/usr/lib/atomiadns/webapp
	cp -a *.js css views static node_modules $(WEBAPP)/usr/lib/atomiadns/webapp

	touch install-stamp

binary-arch:
# We have nothing to do by default.

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installcron
#	dh_installmenu
#	dh_installexamples
	dh_installinit
	dh_installdocs 
	dh_installchangelogs 
	dh_perl
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
