!!! 5
html(lang="en")
	head
		link(rel="stylesheet", href="/css/", type="text/css", media="screen")

		- if (typeof(title) != 'undefined')
			title= title
		- else
			title Atomia DNS
	body
		div.wrapper
			div.header
				- if (user != null && user != 'undefined')
					p.userInfo Logged in as: 
						span.userName #{user.email}
						\ | 
						a(href='/logout') log out 
				- else
					
			div.content
				!= body
			div.footer
