p You have to login to be able to administer your zones.

form(method='post')
	label Username:
		input(name='username')

	label Password:
		input(type="password", name='password')

	input(type="submit", value="Login")
